---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
const pageTitle = "About";

---

<Layout title = {pageTitle}>
    <main>
      <Navigation />

        <h1>{pageTitle}</h1>
       
    </main>
    
</Layout>