---
const platform = "github";
const username = "rayzilli/a-small-space";
---

<footer class="text-center text-slate-300">
  <p>Get the code: <a href={`https://www.${platform}.com/${username}`}>{platform}</a></p>
</footer>